body
{
	background-image: url('../img/eastcampus.jpg');
	width: 1433px;
	height: 1600px;
	/*padding: 0;*/
	margin: 0;
}

#routeQueryContainer
{
	position: fixed;
	left: 20px;
	top: 20px;

}

#routeQuery {
	height: 40px;
	width: 100px;
	background-color: #6d9be0;
	color: white;
	border: none;
}

#routeQuery:hover
{
	background-color: #2E77E5;
}

#confirmBox
{
	width: 300px;
	height: 300px;
	background-color: white;
	border: 1px solid blue;
}

path
{
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
	stroke: #3ce226;
	stroke-width: 10;
	fill-rule: evenodd;
}

